body {
  background: #111;
  color: #fff;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 10vh;
}

.buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}